<!DOCTYPE html>
<html>
<head>
    <title>Base</title>
</head>
<body>
    <div style="text-align: center; font-family: sans-serif; color: royalblue;">
        <header>
            <h1><a href="{% url 'home' %}">Menu</a></h1>
            <h1><a href="{% url 'create' %}">Post</a></h1>
        </header>
    </div>

    <div style="text-align: center; font-family: sans-serif; color: royalblue;">
        {% if user.is_authenticated %}
            <p>Welcome {{ user.Username }}</p>
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <p><a href="{% url 'login' %}">Log in</a></p>
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
        {% endif %}
    </div>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>